@tailwind base;
@tailwind components;
@tailwind utilities;

.txt-heading {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  padding: 0.5rem;
  border-bottom: 0.5rem solid var(--green-100);
  display: inline-block;
}
